<div class="container">
  <div class="header">
    <h1>Producer Consumer Simulator - Web Application</h1>
  </div>
  <div class="options">
    <div>
      <div>
        <p>Machine</p>
        <button>click</button>
      </div>
      <div>
        <p>Queue</p>
        <button>click</button>
      </div>
      <div>
        <p>Simulate</p>
        <button>click</button>
      </div>
      <div>
        <p>Clear</p>
        <button>click</button>
      </div>
      <div>
        <p>Replay</p>
        <button>click</button>
      </div>
      <div>
        <p>Join</p>
        <button>click</button>
      </div>
    </div>
    <div class="status">
      <p>Connection Status:</p>
      <div>icon here</div>
    </div>
  </div>
  <div class="board"></div>
  <div class="footer">
    Designed & Implemented By:
    <p>Maria Bassem,</p>
    <p>Mariam Aziz,</p>
    <p>Eman Samir,</p>
    <p>George Beshay.</p>
  </div>
</div>
