<div class="container">
  <div class="header">
    <h1>Producer Consumer Simulator - Web Application</h1>
  </div>
  <div class="options">
    <div>
      <div>
        <button (click)="createMachine()">Machine</button>
      </div>
      <div>
        <button (click)="createQueue()">Queue</button>
      </div>
      <div>
        <button (click)="smiulate()">Simulate</button>
      </div>
      <div>
        <button (click)="clear()">Clear</button>
      </div>
      <div>
        <button (click)="replay()">Replay</button>
      </div>
      <div>
        <button (click)="createArrow()">Join</button>
      </div>
      <div>
        <button (click)="Stop()">Stop</button>
      </div>
      <div class="prodsCount">
        <p># Products:</p>
        <input id="numberOfProducts" type="number" />
      </div>
    </div>
  </div>
  <div class="board" id="holder">
    <div id="konva-holder"></div>
  </div>
  <div class="footer">
    Designed & Implemented By:
    <p>Maria Bassem,</p>
    <p>Mariam Aziz,</p>
    <p>Eman Samir,</p>
    <p>George Beshay.</p>
  </div>
</div>
